body, html {
    height: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



/* ----- NAVBAR ----- */


/* ----- HEADER ----- */


/* ----- LINKS ----- */

ul .list-group-item:hover {
    cursor: pointer;
    background-color: rgba(244, 243, 243, 0.7);
}

/* ----- CONTACT ----- */


/* ----- FOOTER ----- */



