{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Raleigh 919 Legends 2025-26</h1>
<h2>List of Players (List View)</h2>
<ul>
  {% for player in team_list %}
  <div class="list-group">
    <li>
      <a
        href="{% url 'mysite:detail_player' player.pk %} "
        class="list-group-item list-group-item-action"
      >
        {{player.first_name}} {{player.last_name}}
      </a>
    </li>
  </div>
  <ul>
    <li>
      <!-- If admin -->
      <a href="{% url 'mysite:update_player' player.pk %}"
        >Update {{player.first_name}}</a
      >
    </li>
    <li>
      <!-- If admin -->
      <a href="{% url 'mysite:delete_player' player.pk %}"
        >Delete {{player.first_name}}</a
      >
    </li>
  </ul>
  {% endfor%}
</ul>
{% endblock content %}
